/* ซ่อนปุ่ม Reveal/clear ของ Edge/IE */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

/* กันปุ่ม Auto-fill/credentials ของ Chrome/WebKit บางรุ่น */
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}
